:root{
    --white: white;
    --black: black;
    --whiteShades-50:  #808080;
    --whiteShades-55:  #8C8C8C;
    --whiteShades-60:  #999999;
    --whiteShades-65:  #A6A6A6;
    --whiteShades-70:  #B3B3B3;
    --whiteShades-75:  #BFBFBF;
    --whiteShades-80:  #CCCCCC;
    --whiteShades-90:  #E6E6E6;
    --grayShades-6:   #0F0F0F;
    --grayShades-10:  #1A1A1A;
    --grayShades-12:  #1F1F1F;
    --grayShades-15:  #262626;
    --grayShades-20:  #333333;
    --grayShades-25:  #404040;
    --grayShades-30:  #4C4C4C;
    --grayShades-40:  #666666;
}

