.xList{
    display: grid;
    grid-auto-rows: max-content;
    justify-content: start;
    align-items: start;
    gap: 20px;
}
.item{
    font-size: 18px;
    color: var(--white);
    font-weight: 500;
}