.bet{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.email{
    color: var(--white);
}

.amount{
    color: yellow;
    display: flex;
    align-items: center;
    gap: 5px;
}
