.border{
    width: 200px;
    height: 200px;
    background: var(--grayShades-15);
    border-radius: 100%;
    display: grid;
    padding: 20px;
    justify-items: center;
    align-content: center;
    transition: .3s;
    overflow: hidden;
    position: relative;
}
.img{
    width: 80%;
}
.img.full{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s;
}
.full:hover{
    filter: brightness(.5);
}

.border:hover {
    background: var(--whiteShades-55);
    cursor: pointer;
}