.spinner{
    position: relative;
    width: 200px;
    height: 35px;
}
.circle{
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    height: 100%;
    background: #FFFFFF;
    border-radius: 100%;
    animation: leftToRight 2s cubic-bezier(0.2,0.3,0.2,1.5) infinite both;
    @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
            animation-delay: 0.03s * $i;
            opacity: 0.20 * (5-$i);
        }
    }
}

@keyframes leftToRight {
    0% {
        left: 0;
        border-radius: 100%;    
    }
    50% {
        left: 100%;
        border-radius: 0;
    }
    100% {
        left: 0;
        border-radius: 100%;
    }
}

