
.gameCard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    border: 2px solid var(--grayShades-15);
    &:hover{
        .blur{
            backdrop-filter: blur(0px);
        }
    }   

}

.blur{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000090;
    backdrop-filter: blur(5px);
    z-index: 10;
    transition: 0.5s;
}
.gameInfo{
    bottom: 0;
    position: absolute;
    background: #000;
    z-index: 20;
    width: 100%;
    display: grid;
    left: 0;
    gap: 15px;
    padding: 20px;
}
.gameImage{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
}

.gameTitle{
    font-size: 24px;
    color: var(--white);
    font-weight: 600;
}

.gameDescription{
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
}

