.card{
    border-bottom: 1px solid var(--grayShades-15);
    padding: 34px 0px;
    display: grid;
    gap: 30px;
    grid-template-rows: max-content;
    cursor: pointer;
    transition: all 0.3s ease;
    align-self: start;
    &:hover {
        border-color: var(--white);

        .toggle {
            background: var(--grayShades-13);
        }
    }
}

.header{
    display: grid;
    grid-template-columns: 1fr auto;

    justify-content: space-between;
    align-items: center;
}
.question{
    font-size: 20px;
    font-weight: 600;
    color: var(--white);
    transition: color 0.3s ease;
}

.answer{
    font-size: 18px;
    color: var(--whiteShades-55);
    line-height: 1.5;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);

    &.open {
        max-height: 1000px;
        opacity: 1;
        transform: translateY(0);
    }
}
.toggle{
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 50px;
    font-weight: 400;
    color: var(--white);
    cursor: pointer;
    width: 52px;
    height: 52px;
    border-radius: 100%;
    background: var(--grayShades-10);
    transition: all 0.5s ease;
    user-select: none;
    &:hover{
        scale: 1.1;
    }
}



@media (max-width: 1440px) {
    .card{
        padding: 30px 0;
        gap: 24px;
    }
    .question{
        font-size: 18px;
    }
    .answer{
        font-size: 16px;
    }
    .toggle{
        width: 44px;
        height: 44px;
        font-size: 30px;
    }
}
